# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# env files
.env
.env.*

# build
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# pnpm
.pnpm-store/

# coverage
coverage/